.navbar {
    background-color: #3E1404;

}

.logo {
    font-weight: 900;
}

.menu-item {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-dark .navbar-nav .navbar-dark .navbar-nav .nav-link {
    color: rgb(212, 212, 212);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}